[mysqld]
bind-address = 0.0.0.0
console = 1
general_log = 1
general_log_file = /dev/stdout
log_error = /dev/stderr
character-set-server = utf8
collation-server = utf8_unicode_ci
datadir = /var/lib/mysql
init-connect = SET NAMES utf8
max_allowed_packet = 16M
max_connections = 250
tmpdir = /tmp
user = mysql
wait_timeout = 60

# Buffer/Cache settings
key_buffer_size = 16K
sort_buffer_size = 64K
read_buffer_size = 256K
read_rnd_buffer_size = 256K
net_buffer_length = 2K
innodb_buffer_pool_size = 8M
innodb_log_file_size = 2M
innodb_flush_log_at_trx_commit = 2
innodb_doublewrite = 'OFF'
